<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png">
    
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Istok+Web&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/normalize.css">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/sass/common.css">
    <link rel="stylesheet" href="../../../css/sass/style.css">
    <title>ИРО ЧР | Редакционно-издательский центр</title>

    <script src="https://kit.fontawesome.com/1f3a4be6e9.js" crossorigin="anonymous"></script>
</head>
<body>
   <header>
       <div class="container container--header">
           <div class="row row--header">
                <div class="logo">
                    <a href="../index.html"><img src="../img/logo.png" alt="Логотип ИРО ЧР"></a> 
                    <!-- <p class="logo__text">Чеченский институт повышения квалификации работников образования</p> -->
                </div>
                <button type="button" class="menu_btn" id="menu_btn">
                    <span></span>
                </button>
                <nav class="main_nav">
                    <ul class="main_nav__items">
                        <li class="main_nav__item main_nav__item--parent"><a href="#" class="not_for_hover">Институт <i class="fas fa-caret-down"></i></a>
                            <ul class="main_nav_submenu">
                                <li class="main_nav_submenu__item"><a href="../general_information.html">Основные сведения</a></li>
                                <li class="main_nav_submenu__item"><a href="../history.html">История института</a></li>
                                <li class="main_nav_submenu__item"><a href="../general_information.html">Сведения об образовательной организации</a></li>
                                <li class="main_nav_submenu__item"><a href="../centers.html">Центры</a></li>
                                <li class="main_nav_submenu__item"><a href="../council.html">Учёный совет</a></li>
                                <li class="main_nav_submenu__item"><a href="../trade_union.html">Профсоюзная страничка</a></li>
                            </ul>
                        </li>
                        <li class="main_nav__item"><a href="../../news.html">Новости</a></li>
                        <li class="main_nav__item"><a href="../../webinars.html">Вебинары</a></li>
                        <li class="main_nav__item"><a href="#">Мониторинг</a></li>
                        <li class="main_nav__item search">
                            <form method="GET" action="" class="search_form">
                                <input type="search" class="search__field" placeholder="Поиск...">
                                <button class="search__button">
                                    <i class="fas fa-search"></i> 
                                </button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
       </div>
   </header> 
  

    <div class="container container--with_aside">
        <nav class="breadcrumbs_nav">
            <ul class="breadcrumbs_nav__items">
                <li class="breadcrumbs_nav__item"><a href="../../../index.html"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumbs_nav__item"><a href="../centers.html">Центры</a></li>
                <li class="breadcrumbs_nav__item">Центр информационно-технического обеспечения</li>
            </ul>
        </nav>
        <div class="row row--ne row--webinars">
            <aside class="sidebar">
                <nav class="sidebar_menu">
                    <ul class="sidebar_menu__items">
                        <li class="sidebar_menu__item sidebar_menu__item--parent sidebar_menu__item">
                            <a href="../general_information.html">Институт</a>
                            <button type="button"><i class="fas fa-caret-down"></i></button>
                            <ul class="sidebar_submenu">
                                <li class="sidebar_submenu__item"><a href="../history.html">История Института</a></li>
                                <li class="sidebar_submenu__item"><a href="../council.html">Ученый совет</a></li>
                                <li class="sidebar_submenu__item"><a href="../general_information.html">Сведения об образовательной организации</a></li>
                                <li class="sidebar_submenu__item"><a href="../info/leadership.html">Руководство</a></li>
                            </ul>
                        </li>

                        <li class="sidebar_menu__item">
                            <a href="../regulations.html">Нормативные документы</a>
                        </li>
                        <li class="sidebar_menu__item">
                            <a href="#">Программы повышения квалификации</a>
                        </li>

                        <li class="sidebar_menu__item sidebar_menu__item--parent sidebar_menu__item">
                            <a href="../centers.html">Центры</a>
                            <button type="button"><i class="fas fa-caret-down"></i></button>
                            <ul class="sidebar_submenu">
                                <li class="sidebar_submenu__item"><a href="ric.html">Редакционно-издательский центр</a></li>
                                <li class="sidebar_submenu__item"><a href="cito.html">Центр информационно-технического обеспечения</a></li>
                                <li class="sidebar_submenu__item"><a href="cgia.html">Центр по сопровождению ГИА</a></li>
                                <li class="sidebar_submenu__item"><a href="cio.html">Центр инклюзивного образования</a></li>
                                
                                <li class="sidebar_submenu__item"><a href="cmi.html">Центр математики и информатики</a></li>
                                <li class="sidebar_submenu__item"><a href="ced.html">Центр ественнонаучных дисциплин </a></li>
                                <li class="sidebar_submenu__item"><a href="cod.html">Центр общественно-научных дисциплин</a></li>
                                <li class="sidebar_submenu__item"><a href="cm.html">Центр менеджмента в системе общего и профессионального образования</a></li>

                                <li class="sidebar_submenu__item"><a href="cno.html">Центр начального образования</a></li>
                                <li class="sidebar_submenu__item"><a href="cvps.html">Центр воспитания и психолого-педагогического сопровождения образовательной деятельности</a></li>
                                <li class="sidebar_submenu__item"><a href="cfo.html">Центр филологического образования</a></li>
                                <li class="sidebar_submenu__item"><a href="cofc.html">Центр ОБЖ и физической культуры</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <main class="with_aside center_template">

                <h1>Центр информационно-технического обеспечения</h1>
                <div class="center_wrapper center_wrapper--ric">
                    <div class="center_block center_block--white center_main">
                        <img src="../../img/5.png" alt="" class="center_block__image">
                        <div class="center_block__info">
                            <h2 class="center_main__heading">Руководитель центра <br>Батукаев Рашид Эдуардович</h2>
                            <p class="center_block__text--blue">эл. адрес:<br>rashid.batukaev@gmail.com</p>
                        </div>   
                    </div>
                    <div class="center_block--white">
                        <div class="center_block">
                            <h2 class="center_block__heading">Цель работы</h2>
                            <p class="center_block__text">Информационно-техническое обеспечение деятельности ГБУ ДПО ИРО ЧР</p>
                        </div>
                        <div class="center_block">
                            <h2 class="center_block__heading">Основные задачи центра</h2>
                                <ul class="center__list">
                                    <li class="center_block__text">информационно-техническое обеспечение образовательного процесса и иных мероприятий, проводимых ГБУ ДПО ИРО ЧР самостоятельно или совместно с другими организациями;</li>
                                    <li class="center_block__text">ввод в эксплуатацию и обслуживание вычислительной техники, оргтехники, копировально-множительных аппаратов и другого электронного оборудования;</li>
                                    <li class="center_block__text">установка и сопровождение базового и специального программного обеспечения для функционирования структурных подразделений, и учебных кабинетов ГБУ ДПО ИРО ЧР;</li>
                                    <li class="center_block__text">обеспечение бесперебойной работы информационной сети, объединяющей все структурные подразделения ГБУ ДПО ИРО ЧР телекоммуникационных систем систем связи;</li>
                                    <li class="center_block__text">оказание своевременной и квалифицированной помощи работникам ГБУ ДПО ИРО ЧР в вопросах использования программного обеспечения, компьютерной техники и другого технического оборудования;</li>
                                    <li class="center_block__text">системное администрирование серверов ГБУ ДПО ИРО ЧР.</li>  
                                </ul>
                        </div>
                        <div class="center_block">
                            <h2 class="center_block__heading">Основные направления деятельности Центра: <button type="button" class="arrow_down"><i class="fas fa-arrow-circle-down"></i></button></h2>
                            <ul class="center__list center__list--not_active">
                                <li class="center_block__text">Развитие локальных вычислительных сетей. Обеспечение работоспособности технических средств доступа к сети Интернет.</li>
                                <li class="center_block__text">Обеспечение доступа и техническое сопровождение образовательного процесса в компьютерных аудиториях в соответствии с расписанием занятий и годовым календарным учебным графиком.</li>
                                <li class="center_block__text">Настройка системного программного обеспечения в компьютерных классах.</li>
                                <li class="center_block__text">Участие в разработке, внедрении и эксплуатации программных продуктов.</li>
                                <li class="center_block__text">Обеспечение защиты информации от несанкционированного доступа, от потери информации в результате сбоев программ, действия программных вирусов.</li>
                                <li class="center_block__text">Осуществление методической поддержки деятельности структурных подразделений в вопросах использования программного обеспечения, компьютерной техники и другого технического оборудования, внедрения в учебный процесс современных технических средств обучения и технологий.</li>
                            </ul>
                        </div>
                    </div>   
                </div>

                <div class="center_wrapper">
                    <div class="center_block center_block--blue">
                        <h2 class="center_block__heading center_block__heading--blue center_block__heading--no_margin">Сотрудники центра: <button type="button" class="arrow_down"><i class="fas fa-arrow-circle-down"></i></button></h2>
                        <ul class="center__list center__list--not_active">
                            <li class="center_block__text">Адаева Элита Ахмадовна - ведущий специалист</li>
                            <li class="center_block__text">Сакаев Ахмед Магомедович - ведущий специалист</li>
                            <li class="center_block__text">Сулумов Магомед Русланович - ведущий специалист</li>
                            <li class="center_block__text">Каимова Фариза Алашевна - ведущий специалист</li>
                        </ul>
                    </div>

                    <div class="center_block center_block--blue">
                        <h2 class="center_block__heading center_block__heading--blue">Положение о центре <button type="button" class="arrow_down"><i class="fas fa-arrow-circle-up"></i></button></h2>
                        <ul class="center__list">
                            <li class="center_block__text"><a href="#">Положение о центре</a></li>
                            <li class="center_block__text"><a href="#">План центра на 2020 г</a></li>
                            <li class="center_block__text"><a href="#">Самообследование ГБУ ДПО ИРО ЧР</a></li>
                        </ul>
                    </div>
                </div>
                <button class="scroll_to_top_button--hidden"><i class="fas fa-chevron-up"></i></button>
            </main>  
        </div>
    </div>
    <footer class="footer">
        <div class="container">
             <div class="row row--footer">
                 <div class="footer__block footer__block--contacts">
                     <h3 class="footer__heading">Контакты</h3>
                     <p>ГБУ ДПО "ИРО ЧР"</p>
                     <p>364037, Чеченская Республика</p>
                     <p><i class="fas fa-map-marker-alt"></i>г. Грозный, ул. Х. Кишиевой, 30 </p>
                     <p><i class="fas fa-phone-alt"></i>тел/факс +7 (8712) 21-22-24</p>
                     <p><i class="fas fa-envelope"></i>E-mail: ipkro-chr@mail.ru</p>
                     <p><i class="fas fa-envelope"></i>Техподдержка: support@govzalla.ru</p>
                 </div>
                 <div class="footer__block footer__block--social"> 
                     <h3 class="footer__heading">Мы в соцсетях</h3>
                     <div class="social">
                         <a href="https://www.youtube.com/channel/UC4JstR8NrXG0WcdtTWjRjrg"><i class="fab fa-youtube"></i></a>
                         <a href="https://www.instagram.com/gangaelmurzaeva/?hl=ru"><i class="fab fa-instagram"></i></a>
                         <a href="https://www.facebook.com/chipkro.official/"><i class="fab fa-facebook-square"></i></a>
                         <a href="https://vk.com/chipkro.official/"><i class="fab fa-vk"></i></a>
                     </div>
                     <div class="map">
                         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1451.1557982884488!2d45.714425555915135!3d43.328668331348894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4051d14388e57381%3A0x44959ec660c956b!2z0YPQuy4g0JbRg9C60L7QstGB0LrQvtCz0L4sIDEw0LIsINCT0YDQvtC30L3Ri9C5LCDQp9C10YfQtdC90YHQutCw0Y8g0KDQtdGB0L8uLCAzNjQwMzE!5e0!3m2!1sru!2sru!4v1598518335565!5m2!1sru!2sru" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                     </div>
                 </div>
                 <div class="footer__block footer__block--links">
                     <h3 class="footer__heading">Учредитель</h3>
                     <a href="http://mon95.ru/">Министерство образования и науки Чеченской Республики</a>
                     <a href="../general_information.html">Сведения об образовательной организации</a>
                     <a href="#">Карта сайта</a>
                     <a href="#">Наши партнеры</a>
                 </div>    
             </div>
             <div class="institution">
                 <div class="footer__logo"><img src="../../../img/logo-mono.png" alt=""></div>
                 <div class="copyright">
                     <p>&copy; 2020 ГБУ ДПО Чеченский институт повышения квалификации работников образования.</p>
                     <p>Все права защищены. При использовании материалов сайта активная ссылка на сайт https://www.govzalla.ru обязательна.</p>
                 </div>
             </div>
        </div>
    </footer>
    <script type="text/javascript" src="../../../js/scripts.js"></script>
   <script type="text/javascript">

        let arrowDown = document.querySelectorAll('.arrow_down');

        arrowDown.forEach(arrow => {
            arrow.addEventListener('click', event => {

                let list = event.currentTarget.parentElement.nextElementSibling;
                let heading = event.currentTarget.parentElement;
                let icon = event.currentTarget.firstElementChild;

                list.classList.toggle('center__list--not_active');
                if (!list.classList.contains('center__list--not_active')) {
                    list.style.height = `${ list.scrollHeight / 16 + 1.8 }em` 
                } else {
                    list.style.height = `${ list.scrollHeight / 16 }em`;
                    window.getComputedStyle(list, null).getPropertyValue("height");
                    list.style.height = "0";
                }
                
                if(heading.classList.contains('center_block__heading--blue')){
                    heading.classList.toggle('center_block__heading--no_margin')
                }

                if (list.classList.contains('center__list--not_active')){
                    icon.classList = 'fas fa-arrow-circle-down';
                } else {
                    icon.classList = 'fas fa-arrow-circle-up';
                }
            })
        })
   </script>
</body>
</html>