<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo.png" type="image/png">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Istok+Web&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/sass/common.css">
    <link rel="stylesheet" href="../css/sass/style.css">
    <title>ЧИПКРО | Вебинары</title>

    <script src="https://kit.fontawesome.com/1f3a4be6e9.js" crossorigin="anonymous"></script>
</head>
<body>
   <header>
       <div class="container container--header">
           <div class="row row--header">
                <div class="logo">
                    <a href="../index.html"><img src="../img/logo.png" alt="Логотип ЧИПКРО"></a> 
                    <!-- <p class="logo__text">Чеченский институт повышения квалификации работников образования</p> -->
                </div>
                <button type="button" class="menu_btn" id="menu_btn">
                    <span></span>
                </button>
                <nav class="main_nav">
                    <ul class="main_nav__items">
                        <li class="main_nav__item main_nav__item--parent"><a href="#" class="not_for_hover">Институт <i class="fas fa-caret-down"></i></a>
                            <ul class="main_nav_submenu">
                                <li class="main_nav_submenu__item"><a href="institiute/general_information.html">Общие сведения</a></li>
                                <li class="main_nav_submenu__item"><a href="institiute/history.html">История института</a></li>
                                <li class="main_nav_submenu__item"><a href="institiute/general_information.html">Сведения об образовательной организации</a></li>
                                <li class="main_nav_submenu__item"><a href="institiute/centers.html">Центры</a></li>
                                <li class="main_nav_submenu__item"><a href="institiute/council.html">Учёный совет</a></li>
                                <li class="main_nav_submenu__item"><a href="institiute/trade_union.html">Профсоюзная страничка</a></li>
                            </ul>
                        </li>
                        <li class="main_nav__item"><a href="news.html">Новости</a></li>
                        <li class="main_nav__item"><a href="webinars.html">Вебинары</a></li>
                        <li class="main_nav__item"><a href="monitoring.html">Мониторинг</a></li>
                        <li class="main_nav__item search">
                            <form method="GET" action="" class="search_form">
                                <input type="search" class="search__field" placeholder="Поиск...">
                                <button class="search__button">
                                    <i class="fas fa-search"></i> 
                                </button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
       </div>
   </header> 
  

    <div class="container container--with_aside">
        <nav class="breadcrumbs_nav">
            <ul class="breadcrumbs_nav__items">
                <li class="breadcrumbs_nav__item"><a href="../index.html"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumbs_nav__item">Вебинары</li>
            </ul>
        </nav>
        <div class="row row--ne row--webinars">
            <aside class="sidebar">
                <nav class="sidebar_menu">
                    <ul class="sidebar_menu__items">
                        <li class="sidebar_menu__item sidebar_menu__item--parent">
                            <a href="#">Видеоматериалы</a>
                            <button type="button"><i class="fas fa-caret-down"></i></button>
                            <ul class="sidebar_submenu sidebar_submenu--active">
                                <li class="sidebar_submenu__item"><a href="webinars.html">Вебинары</a></li>
                                <li class="sidebar_submenu__item"><a href="live_translations.html">Записи live-трансляций</a></li>
                                <li class="sidebar_submenu__item"><a href="smi.html">СМИ</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <main class="with_aside">

                <h1>Вебинары на канале IPKRO-CHR</h1>
                <div class="videos">
                    <div class="video_block">
                        <div class="video_block__recording">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/xL4iSKXjfU0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                        </div>
                        <div class="video_block__info">
                            <h2 class="video_block__heading">Методические рекомендации по организации электронного и дистанционного обучения</h2>
                            <p class="video_block__text video_block__text--blue">Сулейманов Саид-Хусейн Абдурахманович</p>
                            <p class="video_block__text video_block__text--gold">Старший преподаватель Центра математики и информатики ГБУ ДПО ЧИПКРО</p>
                        </div>   
                    </div>
                    <div class="video_block">
                        <div class="video_block__recording">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/7X5hLtnF034" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video_block__info">
                            <h2 class="video_block__heading">Организация процесса адаптации первоклассников к школе</h2>
                            <p class="video_block__text video_block__text--blue">Исламова Малика Исаевна</p>
                            <!-- malika_islamova@inbox.ru -->
                            <!-- yamalika95@mail.ru  -->
                            <p  class="video_block__text video_block__text--gold">Проректор по связям с общественностью</p>
                            <p class="video_block__text video_block__text--blue">Яударова Малика Юрьевна</p>
                            <p class="video_block__text video_block__text--gold">Старший преподаватель Центра воспитания и психолого-педагогического сопровождения образовательной деятельности</p>
                        </div>   
                    </div>
                    <div class="video_block">
                        <div class="video_block__recording">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/RObo1NQyPuU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video_block__info">
                            <h2 class="video_block__heading">Особенности государственной итоговой аттестации по русскому языку в 2019 году</h2>
                            <p class="video_block__text video_block__text--blue">Этиева Имана Эдуевна</p>
                            <p class="video_block__text video_block__text--gold">Старший преподаватель Центра филологического образования ГБУ ДПО ЧИПКРО</p>
                        </div>   
                    </div>
                    <div class="video_block">
                        <div class="video_block__recording">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/U6oKzXRh808" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video_block__info">
                            <h2 class="video_block__heading">Проектирование учебного плана на уровне среднего общего образования</h2>
                            <p class="video_block__text video_block__text--blue">Эльмурзаева Румиса Абуязитовна</p>
                            <p class="video_block__text video_block__text--gold">Проректор по НМР</p>
                        </div>   
                    </div>
                    <div class="video_block">
                        <div class="video_block__recording">
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/hgZLegeVyI8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="video_block__info">
                            <h2 class="video_block__heading">Организация адаптационного периода первоклассников</h2>
                            <p class="video_block__text video_block__text--blue">Исламова Малика Исаевна</p>
                            <p class="video_block__text video_block__text--gold">Проректор по связям с общественностью</p>
                            <p class="video_block__text video_block__text--blue">Яударова Малика Юрьевна</p>
                            <p class="video_block__text video_block__text--gold">Старший преподаватель Центра воспитания и психолого-педагогического сопровождения образовательной деятельности</p>
                        </div>   
                    </div>
                </div>  
                <button class="scroll_to_top_button--hidden"><i class="fas fa-chevron-up"></i></button>
            </main>  
        </div>
    </div>
   <footer class="footer">
       <div class="container">
            <div class="row row--footer">
                <div class="footer__block footer__block--contacts">
                    <h3 class="footer__heading">Контакты</h3>
                    <p>ГБУ ДПО "ЧИПКРО"</p>
                    <p>364037, Чеченская Республика</p>
                    <p><i class="fas fa-map-marker-alt"></i>г. Грозный, ул. Х. Кишиевой, 30 </p>
                    <p><i class="fas fa-phone-alt"></i>тел/факс +7 (8712) 21-22-24</p>
                    <p><i class="fas fa-envelope"></i>E-mail: ipkro-chr@mail.ru</p>
                    <p><i class="fas fa-envelope"></i>Техподдержка: support@govzalla.ru</p>
                </div>
                <div class="footer__block footer__block--social"> 
                    <h3 class="footer__heading">Мы в соцсетях</h3>
                    <div class="social">
                        <a href="https://www.youtube.com/channel/UC4JstR8NrXG0WcdtTWjRjrg"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.instagram.com/gangaelmurzaeva/?hl=ru"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/chipkro.official/"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://vk.com/chipkro.official/"><i class="fab fa-vk"></i></a>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1451.1557982884488!2d45.714425555915135!3d43.328668331348894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4051d14388e57381%3A0x44959ec660c956b!2z0YPQuy4g0JbRg9C60L7QstGB0LrQvtCz0L4sIDEw0LIsINCT0YDQvtC30L3Ri9C5LCDQp9C10YfQtdC90YHQutCw0Y8g0KDQtdGB0L8uLCAzNjQwMzE!5e0!3m2!1sru!2sru!4v1598518335565!5m2!1sru!2sru" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="footer__block footer__block--links">
                    <h3 class="footer__heading">Учредитель</h3>
                    <a href="http://mon95.ru/">Министерство образования и науки Чеченской Республики</a>
                    <a href="institiute/general_information.html">Сведения об образовательной организации</a>
                    <a href="#">Карта сайта</a>
                    <a href="#">Наши партнеры</a>
                </div>    
            </div>
            <div class="institution">
                <div class="footer__logo"><img src="../img/logo-mono.png" alt=""></div>
                <div class="copyright">
                    <p>&copy; 2020 ГБУ ДПО Чеченский институт повышения квалификации работников образования.</p>
                    <p>Все права защищены. При использовании материалов сайта активная ссылка на сайт https://www.govzalla.ru обязательна.</p>
                </div>
            </div>
       </div>
   </footer>
   <script type="text/javascript" src="../js/scripts.js"></script>
</body>
</html>