<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../img/logo.png" type="image/png">
    
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Istok+Web&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/sass/common.css">
    <link rel="stylesheet" href="../../css/sass/style.css">
    <title>ЧИПКРО | Центр математики и информатики</title>

    <script src="https://kit.fontawesome.com/1f3a4be6e9.js" crossorigin="anonymous"></script>
</head>
<body>
   <header>
       <div class="container container--header">
           <div class="row row--header">
                <div class="logo">
                    <a href="../../index.html"><img src="../../img/logo.png" alt="Логотип ЧИПКРО"></a> 
                    <!-- <p class="logo__text">Чеченский институт повышения квалификации работников образования</p> -->
                </div>
                <button type="button" class="menu_btn" id="menu_btn">
                    <span></span>
                </button>
                <nav class="main_nav">
                    <ul class="main_nav__items">
                        <li class="main_nav__item main_nav__item--parent"><a href="../institiute/general_information.html" class="not_for_hover">Институт <i class="fas fa-caret-down"></i></a>
                            <ul class="main_nav_submenu">
                                <li class="main_nav_submenu__item"><a href="general_information.html">Общие сведения</a></li>
                                <li class="main_nav_submenu__item"><a href="history.html">История института</a></li>
                                <li class="main_nav_submenu__item"><a href="general_information.html">Сведения об образовательной организации</a></li>
                                <li class="main_nav_submenu__item"><a href="centers.html">Центры</a></li>
                                <li class="main_nav_submenu__item"><a href="trade_union.html">Профсоюзная страничка</a></li>
                                <li class="main_nav_submenu__item"><a href="council.html">Учёный совет</a></li>
                                <li class="main_nav_submenu__item"><a href="regulations.html">Нормативные документы</a></li>
                            </ul>
                        </li>
                        <li class="main_nav__item"><a href="../news.html">Новости</a></li>
                        <li class="main_nav__item"><a href="../webinars.html">Вебинары</a></li>
                        <li class="main_nav__item"><a href="../monitoring.html">Мониторинг</a></li>
                        <li class="main_nav__item search">
                            <form method="GET" action="" class="search_form">
                                <input type="search" class="search__field" placeholder="Поиск...">
                                <button class="search__button">
                                    <i class="fas fa-search"></i> 
                                </button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
       </div>
   </header> 
  

    <div class="container container--with_aside">
        <nav class="breadcrumbs_nav">
            <ul class="breadcrumbs_nav__items">
                <li class="breadcrumbs_nav__item"><a href="../../index.html"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumbs_nav__item"><a href="general_information.html">Сведения об образовательной организации</a></li>
                <li class="breadcrumbs_nav__item">Общие сведения</li>
            </ul>
        </nav>
        <div class="row row--ne row--webinars">
            <aside class="sidebar">
                <nav class="sidebar_menu">
                    <ul class="sidebar_menu__items">
                        <li class="sidebar_menu__item sidebar_menu__item--parent sidebar_menu__item">
                            <a href="centers.html">Институт</a>
                            <button type="button"><i class="fas fa-caret-down"></i></button>
                            <ul class="sidebar_submenu">
                                <li class="sidebar_submenu__item"><a href="history.html">История Института</a></li>
                                <li class="sidebar_submenu__item"><a href="council.html">Ученый совет</a></li>
                                <li class="sidebar_submenu__item"><a href="general_information.html">Сведения об образовательной организации</a></li>
                                <li class="sidebar_submenu__item"><a href="info/leadership.html">Руководство</a></li>
                            </ul>
                        </li>

                        <li class="sidebar_menu__item">
                            <a href="regulations.html">Нормативные документы</a>
                        </li>
                        <li class="sidebar_menu__item">
                            <a href="#">Программы повышения квалификации</a>
                        </li>

                        <li class="sidebar_menu__item sidebar_menu__item--parent sidebar_menu__item">
                            <a href="centers.html">Центры</a>
                            <button type="button"><i class="fas fa-caret-down"></i></button>
                            <ul class="sidebar_submenu">
                                <li class="sidebar_submenu__item"><a href="centers/ric.html">Редакционно-издательский центр</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cito.html">Центр информационно-технического обеспечения</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cgia.html">Центр по сопровождению ГИА</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cio.html">Центр инклюзивного образования</a></li>
                                
                                <li class="sidebar_submenu__item"><a href="centers/cmi.html">Центр математики и информатики</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/ced.html">Центр ественнонаучных дисциплин </a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cod.html">Центр общественно-научных дисциплин</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cm.html">Центр менеджмента в системе общего и профессионального образования</a></li>

                                <li class="sidebar_submenu__item"><a href="centers/cno.html">Центр начального образования</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cvps.html">Центр воспитания и психолого-педагогического сопровождения образовательной деятельности</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cfo.html">Центр филологического образования</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cofc.html">Центр ОБЖ и физической культуры</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside>
            <main class="with_aside center_template">

                <h1>Общие сведения</h1>
                <div class="info">
                    <p class="info__about">ЧИПКРО Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
                    <div class="info__block">
                        <h2 class="info__heading">Структура</h2>
                        <p>Чеченский институт повышения квалификации работников образования (ЧИПКРО) состоит из  19 структурных подразделений, в числе которых 14 центров:
                            <ul class="sidebar_submenu">
                                <li class="sidebar_submenu__item"><a href="centers/ric.html">Редакционно-издательский центр</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cito.html">Центр информационно-технического обеспечения</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cgia.html">Центр по сопровождению ГИА</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cio.html">Центр инклюзивного образования</a></li>
                                
                                <li class="sidebar_submenu__item"><a href="centers/cmi.html">Центр математики и информатики</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/ced.html">Центр ественнонаучных дисциплин </a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cod.html">Центр общественно-научных дисциплин</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cm.html">Центр менеджмента в системе общего и профессионального образования</a></li>

                                <li class="sidebar_submenu__item"><a href="centers/cno.html">Центр начального образования</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cvps.html">Центр воспитания и психолого-педагогического сопровождения образовательной деятельности</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cfo.html">Центр филологического образования</a></li>
                                <li class="sidebar_submenu__item"><a href="centers/cofc.html">Центр ОБЖ и физической культуры</a></li>
                            </ul>
                        </p>
                    </div>

                    <div class="info__block">
                        <h2 class="info__heading">Ректором <span class="no-blue">института с 2007 года является Эльмурзаева Ганга Бекхановна</h2>
                            <ul>
                                <li>кандидат исторических наук, </li>
                                <li>доцент</li>
                                <li>Заслуженный учитель Чеченской Республики</li>
                            </ul>
                    </div>

                    <div class="info__block">
                        <h2 class="info__heading">Учебный процесс</h2>
                        <p class="p-no-margin">осуществляют 38 педагогических работников, в числе которых 
                            <ul>
                                <li>7 кандидатов наук,</li> 
                                <li>6 доцентов,</li> 
                                <li>26 старших  преподавателей,</li> 
                                <li>6 методистов.</li> 
                            </ul>
                            
                            Из состава специалистов ЧИПКРО 15 человек имеют звание 
                            «Почетный работник общего образования РФ», 5– звание «Заслуженный учитель ЧР», 
                            5 сотрудников - победители и финалисты конкурсов учителей. Имеющийся кадровый 
                            состав позволяет успешно выполнять  стоящие перед институтом задачи.</p>
                        <p>Обучение в Институте ведется на русском языке. Образовательные программы осваиваются 
                            в очной, очно-заочной, заочной форме.</p>
                    </div>

                    <div class="info__block">
                        <h2 class="info__heading">Институт</h2>
                        <p>осуществляет свою деятельность в организационно-правовой форме бюджетного учреждения 
                            в соответствии с Уставом, утвержденным приказом Министерства образования и науки 
                            Чеченской Республики №1135-п от 9.09. 2015 г., согласованным с Министерством имущественных и земельных 
                            отношений(№1534-рэ от 24.08 .2015 г.)  и лицензией Министерства образования и науки Чеченской Республики 
                            (серия 20Л02 № 0000052, регистрационный номер  №  1704  от  22  мая 2014 года), выданной  бессрочно  
                            в сфере дополнительного  профессионального  образования;  имеет  свидетельство  о  государственной  
                            аккредитации  (регистрационный  номер 0161 от 13 мая 2011 года).
                            ГБУ ДПО ЧИПКРО осуществляет дополнительные образовательные услуги по всем реализуемым образовательным 
                            программам в рамках бюджетного финансирования в пределах квоты, установленной лицензией.</p>
                        <p>Чеченский институт повышения квалификации работников образования осуществлял свою деятельность 
                            в 2018 году в условиях качественного обновления российского образования, определенного Концепцией 
                            долгосрочного социально-экономического развития РФ на период до 2020 года, федеральными 
                            государственными образовательными стандартами начального общего образования, основного и 
                            среднего общего образования. </p>
                        <p>Коллектив ЧИПКРО руководствуется в своей деятельности Законом 
                        «Об образовании в РФ» (ФЗ №273 от 29.12.2012 г., вступившим в силу с 1 сентября 2013 года), 
                        региональным планом реализации Комплексного проекта модернизации образования, Государственной 
                        программой «Развитие образования»», а также стратегическими ориентирами развития системы общего 
                        образования республики до 2020 года, определенными следующими документами:</p>
                            <ul>
                                <li>Указом Президента Российской Федерации от 7 мая 2012 года № 597 «О мероприятиях по реализации государственной социальной политики»;</li>
                                <li>Указом Президента Российской Федерации от 7 мая 2012 года № 599 «О мерах по реализации государственной политики в области образования и науки»;</li>
                                <li>Указом Президента Российской Федерации от 28 декабря 2012 года № 1688 «О некоторых мерах по реализации государственной политики в сфере защиты детей-сирот и детей, оставшихся без попечения родителей»;</li>
                                <li>Указом Президента Российской Федерации от 1 июня 2012 года № 761 «О национальной стратегии действий в интересах детей на 2012 - 2017 годы»;</li>
                                <li>Указом Президента Российской Федерации от 7 мая 2012 года № 602 «Об обеспечении межнационального согласия»;</li>
                                <li>Постановлением Правительства РФ от 15 апреля 2014 года № 295 «Об утверждении государственной программы Российской Федерации «Развитие образования» на 2013 - 2020 годы»;</li>
                                <li>Постановлением Правительства РФ от 15 апреля 2014 года № 301 «Об утверждении государственной программы Российской Федерации «Развитие науки и технологий» на 2013 - 2020 годы»;</li>
                                <li>Распоряжением Правительства Российской Федерации от 18 декабря 2006 года № 1760-р «О стратегии государственной молодежной политики в Российской Федерации»;</li>
                                <li>Законом Чеченской Республики от 30 октября 2014 года № 37-рз «Об образовании в Чеченской Республике»;</li>
                                <li>Законом Чеченской Республики от 8 мая 2008 года № 16-рз «О молодежи».</li>
                            </ul>
                            <p> Деятельность института осуществляется на основе типового положения об учреждении дополнительного профессионального образования (повышения квалификации) специалистов и Устава ЧИПКРО.
                                Переход системы российского образования на инновационную парадигму развития требует соответствующего научно-методического обеспечения и сопровождения.</p>
                    </div>
                    <div class="info__block">
                        <h2 class="info__heading">Дата создания образовательной организации</h2>
                        <ul>
                            <li>первые курсы повышения квалификации работников образования прошли в 1925 году в станице Горячеводской, которые продолжались в течение 5 месяцев.</li>
                            <li>1925 году был создан Грозненский педагогический техникум.</li>
                            <li>23 июня 1925 года Чеченским облисполкомом было принято постановление об открытии в Грозном отделения Северо-Кавказского краевого института повышения квалификации учителей.</li>
                            <li>сентябрь 1938 года - открывается педагогический институт, на трех факультетах которого началась подготовка учителей с высшим педагогическим образованием: физиков, математиков, историков, учителей русского языка и литературы, чеченского языка и литературы, ингушского языка и литературы. </li>
                            <li>в 1938 году Грозненское отделение СККИПКУ было реорганизовано в Чечено-Ингушский Институт Усовершенствования Учителей (ЧИИУУ).</li>
                            <li>2000 год - год окончания активных военных действий. В г. Грозном создается Государственное Учреждение «Чеченский Институт Повышения Квалификации Работников Образования» (ЧИПКРО).</li>
                            <li>в декабре 2009 года ГУ «ЧИПКРО» преобразовано в государственное учреждение дополнительного профессионального образования «Чеченский институт повышения квалификации работников образования».</li>
                        </ul>
                    </div>
                    <div class="info__block">
                        <h2 class="info__heading">Контакты</h2>
                        <p>Государственное бюджетное  учреждение дополнительного профессионального образования  "Чеченский институт повышения квалификации работников образования" (ГБУ ДПО  ЧИПКРО)</p>
                        <ul>
                            <li><span class="bold">адрес: </span> 364037,Чеченская Республика, г. Грозный, ул. Х. Кишиевой, 30</li>
                            <li><span class="bold">телефон/факс: </span> 8 (8712) 21-22-24</li>
                            <li><span class="bold">Электронная почта: </span>  ipkro-chr@mail.ru</li>
                            <li><span class="bold">Сайт: </span> https://www.govzalla.ru/ </li>
                        </ul>
                        <p class="bold">Режим и график работы:</p>
                        <ul>
                            <li>понедельник-пятница - 9:00 - 17:00</li>
                            <li>суббота-воскресенье - выходные дни</li>
                        </ul>
                        <p class="bold">Режим работы педагогического персонала:</p>
                        <ul>
                            <li>c 9:00 - 17:00</li>
                            <li>обеденный перерыв с 13.00 до 13.48</li>
                        </ul>
                        <p class="bold">Режим работы учебно-вспомогательного и технического персонала:</p>
                        <ul>
                            <li>c 9:00 - 18:00</li>
                            <li>обеденный перерыв с 13.00 до 14:00</li>
                        </ul>
                    </div>

                    <div class="info__block">
                        <h2 class="info__heading">Филиалы</h2>
                        <p>У образовательной организации филиалов нет</p>
                    </div>

                    <div class="info__block">
                        <h2 class="info__heading">Информация об учредителе (учредителях) образовательной организации</h2>
                        <p>Учредителем Института является Министерство образования и науки Чеченской Республики. Министр образования и науки Чеченской Республики. —Байханов Исмаил Баутдинович.</p>
                        <p class="bold">Контакты Учредителя:</p>
                        <ul>
                            <li><span class="bold">адрес:&nbsp;</span>364021, Чеченская Республика, г. Грозный, ул. Трудовая, 67 "а"</li>
                            <li><span class="bold">телефон/факс:&nbsp;</span>8 (8712) 22-51-88 </li>
                            <li><span class="bold">Электронная почта:&nbsp;</span>moin.chr@mail.ru </li>
                            <li><span class="bold">Сайт:&nbsp;</span> http://mon95.ru/ </li>
                        </ul>
                    </div>
                </div>
                <button class="scroll_to_top_button--hidden"><i class="fas fa-chevron-up"></i></button>
            </main>  
        </div>
    </div>
   <footer class="footer">
       <div class="container">
            <div class="row row--footer">
                <div class="footer__block footer__block--contacts">
                    <h3 class="footer__heading">Контакты</h3>
                    <p>ГБУ ДПО "ЧИПКРО"</p>
                    <p>364037, Чеченская Республика</p>
                    <p><i class="fas fa-map-marker-alt"></i>г. Грозный, ул. Х. Кишиевой, 30 </p>
                    <p><i class="fas fa-phone-alt"></i>тел/факс +7 (8712) 21-22-24</p>
                    <p><i class="fas fa-envelope"></i>E-mail: ipkro-chr@mail.ru</p>
                    <p><i class="fas fa-envelope"></i>Техподдержка: support@govzalla.ru</p>
                </div>
                <div class="footer__block footer__block--social"> 
                    <h3 class="footer__heading">Мы в соцсетях</h3>
                    <div class="social">
                        <a href="https://www.youtube.com/channel/UC4JstR8NrXG0WcdtTWjRjrg"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.instagram.com/gangaelmurzaeva/?hl=ru"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/chipkro.official/"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://vk.com/chipkro.official/"><i class="fab fa-vk"></i></a>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1451.1557982884488!2d45.714425555915135!3d43.328668331348894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4051d14388e57381%3A0x44959ec660c956b!2z0YPQuy4g0JbRg9C60L7QstGB0LrQvtCz0L4sIDEw0LIsINCT0YDQvtC30L3Ri9C5LCDQp9C10YfQtdC90YHQutCw0Y8g0KDQtdGB0L8uLCAzNjQwMzE!5e0!3m2!1sru!2sru!4v1598518335565!5m2!1sru!2sru" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="footer__block footer__block--links">
                    <h3 class="footer__heading">Учредитель</h3>
                    <a href="http://mon95.ru/">Министерство образования и науки Чеченской Республики</a>
                    <a href="general_information.html">Сведения об образовательной организации</a>
                    <a href="#">Карта сайта</a>
                    <a href="#">Наши партнеры</a>
                </div>    
            </div>
            <div class="institution">
                <div class="footer__logo"><img src="../../img/logo-mono.png" alt=""></div>
                <div class="copyright">
                    <p>&copy; 2020 ГБУ ДПО Чеченский институт повышения квалификации работников образования.</p>
                    <p>Все права защищены. При использовании материалов сайта активная ссылка на сайт https://www.govzalla.ru обязательна.</p>
                </div>
            </div>
       </div>
   </footer>
   <script type="text/javascript" src="../../js/scripts.js"></script>
</body>
</html>