<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../../img/logo.png" type="image/png">
    
    <link href="https://fonts.googleapis.com/css2?family=Alegreya&family=Istok+Web&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/normalize.css">
    <link rel="stylesheet" href="../../../css/reset.css">
    <link rel="stylesheet" href="../../../css/sass/common.css">
    <link rel="stylesheet" href="../../../css/sass/style.css">
    <title>ИРО ЧР | Центр математики и информатики</title>

    <script src="https://kit.fontawesome.com/1f3a4be6e9.js" crossorigin="anonymous"></script>
</head>
<body>
   <header>
       <div class="container container--header">
           <div class="row row--header">
                <div class="logo">
                    <a href="../../../index.html"><img src="../../../img/logo.png" alt="Логотип ИРО ЧР"></a> 
                    <!-- <p class="logo__text">Чеченский институт повышения квалификации работников образования</p> -->
                </div>
                <button type="button" class="menu_btn" id="menu_btn">
                    <span></span>
                </button>
                <nav class="main_nav">
                    <ul class="main_nav__items">
                        <li class="main_nav__item main_nav__item--parent"><a href="#" class="not_for_hover">Институт <i class="fas fa-caret-down"></i></a>
                            <ul class="main_nav_submenu">
                                <li class="main_nav_submenu__item"><a href="../general_information.html">Основные сведения</a></li>
                                <li class="main_nav_submenu__item"><a href="../history.html">История института</a></li>
                                <li class="main_nav_submenu__item"><a href="../general_information.html">Сведения об образовательной организации</a></li>
                                <li class="main_nav_submenu__item"><a href="centers.html">Центры</a></li>
                                <li class="main_nav_submenu__item"><a href="../council.html">Учёный совет</a></li>
                                <li class="main_nav_submenu__item"><a href="../trade_union.html">Профсоюзная страничка</a></li>
                            </ul>
                        </li>
                        <li class="main_nav__item"><a href="news.html">Новости</a></li>
                        <li class="main_nav__item"><a href="webinars.html">Вебинары</a></li>
                        <li class="main_nav__item"><a href="#">Мониторинг</a></li>
                        <li class="main_nav__item search">
                            <form method="GET" action="" class="search_form">
                                <input type="search" class="search__field" placeholder="Поиск...">
                                <button class="search__button">
                                    <i class="fas fa-search"></i> 
                                </button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
       </div>
   </header> 
  

    <div class="container container--with_aside">
        <nav class="breadcrumbs_nav">
            <ul class="breadcrumbs_nav__items">
                <li class="breadcrumbs_nav__item"><a href="../index.html"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumbs_nav__item"><a href="general_information.html">Сведения об образовательной организации</a></li>
                <li class="breadcrumbs_nav__item">Структура и органы управления образовательной организации
                </li>
            </ul>
        </nav>
        <div class="row row--ne row--webinars">
            <aside class="sidebar">
                <nav class="sidebar_menu">
                    <ul class="sidebar_menu__items">
                        <li class="sidebar_menu__item"><a href="../general_information.html">Основные сведения</a></li>
                        <li class="sidebar_menu__item"><a href="structure.html">Структура и органы управления образовательной организации</a></li>
                        <li class="sidebar_menu__item"><a href="documents.html">Документы</a></li>
                        <li class="sidebar_menu__item"><a href="education.html">Образование</a></li>
                        <li class="sidebar_menu__item"><a href="educational_standards.html">Образовательные стандарты</a></li>
                        <li class="sidebar_menu__item"><a href="leadership.html">Руководство. Педагогический (научно-педагогический) состав</a></li>
                        <li class="sidebar_menu__item"><a href="material_and_technical_support.html">Материально-техническое обеспечение и оснащённость образовательного процесса</a></li>
                        <li class="sidebar_menu__item"><a href="scholarships.html">Стипендии и иные виды материальной поддержки</a></li>
                        <li class="sidebar_menu__item"><a href="paid_educational_services.html">Платные образовательные услуги</a></li>
                        <li class="sidebar_menu__item"><a href="financial_and _economic_activities.html">Финансово-хозяйственная деятельность</a></li>
                        <li class="sidebar_menu__item"><a href="vacancies.html">Вакантные места для приема (перевода)</a></li>
                    </ul>
                </nav>
            </aside>
            <main class="with_aside center_template">

                <h1>Структура и органы управления образовательной организации</h1>
                <div class="info structure">
                    <div class="info__block">
                        <h2 class="info__heading">Структура ИРО ЧР</h2>
                        <img src="../../../img/structure.jpeg" alt="">
                    </div>

                    <div class="info__block">
                        <h2 class="info__heading">Информация о структурных подразделениях</h2>
                        <div class="table_section">
                            <table class="table table--structure structure__table">
                                <tr class="tr--head">
                                    <th>ФИО</th>
                                    <th>Должность</th>
                                    <th>Контактный телефон</th>
                                    <th>Адрес электронной почты</th>
                                </tr>
                                <tr class="tr--head">
                                    <th colspan="4">Ректорат</th>
                                </tr>
                                <tr>
                                    <td data-label="ФИО">Эльмурзаева Ганга Бекхановна</td>
                                    <td data-label="Должность">Ректор</td>
                                    <td data-label="Контактный телефон">+7 (8712) 21-22-24</td>
                                    <td data-label="Адрес эл.почты">ganga18@mail.ru</td>
                                </tr>
                                <tr>
                                    <td>Исламова Малика Исаевна</td>
                                    <td>Первый проректор</td>
                                    <td>+7 (928) 745-91-16</td>
                                    <td>malika_islamova@inbox.ru</td>
                                </tr>
                                <tr>
                                    <td>Эльмурзаева Румиса Абуязитовна</td>
                                    <td>Проректор по НМР</td>
                                    <td>+7 (928) 475-82-54</td>
                                    <td>rumisaelmurzaeva@mail.ru</td>
                                </tr>
                                <tr>
                                    <td>Успаева Галина Вахиевна</td>
                                    <td>Проректор по управлению проектами</td>
                                    <td>+7 (928) 021-88-13</td>
                                    <td>sara01@yandex.ru</td>
                                </tr>
                                <tr>
                                    <td>Анзорова Айшат Умаровна</td>
                                    <td>Проректор по УМР</td>
                                    <td>+7 (989) 926-92-79	</td>
                                    <td>anzorova.85@mail.ru</td>
                                </tr>
                                <tr>
                                    <td>Чимаев Саид-Селим Ярагиевич</td>
                                    <td>Проректор по АХЧ</td>
                                    <td>+7 (906) 025-77-77</td>
                                    <td>amin_2004@mail.ru</td>
                                </tr>
                                <tr>
                                    <td>Дурдиева Жамиля Ахмедовна</td>
                                    <td>Главный бухгалтер</td>
                                    <td>+7 (928) 898-47-37</td>
                                    <td>durdieva67@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th colspan="4">Центры</th>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр филологического образования</th>
                                </tr>
                                <tr>
                                    <td>Этиева Имана Эдуевна</td>
                                    <td>Старший преподаватель</td>
                                    <td>+7 (928) 735-97-17</td>
                                    <td>imana.etieva@bk.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр математики и информатики</th>
                                </tr>
                                <tr>
                                    <td>Атаева Саша Умаруловна</td>
                                    <td>Старший преподаватель</td>
                                    <td>+7 (928) 782-66-17</td>
                                    <td>miss.ataewa@yandex.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр начального образования</th>
                                </tr>
                                <tr>
                                    <td>Батаева Малика Башильевна</td>
                                    <td>Старший преподаватель</td>
                                    <td>+7 (928) 781-90-94</td>
                                    <td>malika_bashirovna@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр естественнонаучных дисциплин</th>
                                </tr>
                                <tr>
                                    <td>Даудова Лайла Идрисовна</td>
                                    <td>Старший преподаватель</td>
                                    <td>+7 (929) 890-47-90</td>
                                    <td>layla.daudova.80@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр общественно-научных дисциплин</th>
                                </tr>
                                <tr>
                                    <td>Горчханова Елизавета Султановна</td>
                                    <td>Старший преподаватель</td>
                                    <td>+7 (928)786-70-09</td>
                                    <td>egorchhanova@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр воспитания и психолого-педагогического сопровождения образовательной деятельности</th>
                                </tr>
                                <tr>
                                    <td>Яударова Малика Юрьевна</td>
                                    <td>Старший преподаватель</td>
                                    <td>+7 (963) 708-35-55</td>
                                    <td>yamalika95@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр менеджмента в системе общего и профессионального образования</th>
                                </tr>
                                <tr>
                                    <td>Муцаев Иса Рамазанович</td>
                                    <td>Руководитель центра</td>
                                    <td>+7 (928) 531-32-37</td>
                                    <td>kuochipkro@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр ОБЖ и физической культуры</th>
                                </tr>
                                <tr>
                                    <td>Хамзатов Джунид Саламувич</td>
                                    <td>Старший преподаватель</td>
                                    <td>+7 (963) 596-24-46 </td>
                                    <td></td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр ОБЖ и физической культуры</th>
                                </tr>
                                <tr>
                                    <td>Хамзатов Джунид Саламувич</td>
                                    <td>Старший преподаватель</td>
                                    <td>+7 (963) 596-24-46 </td>
                                    <td></td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Редакционно-издательский центр</th>
                                </tr>
                                <tr>
                                    <td>Караев Руслан Зубаирович</td>
                                    <td>Главный редактор</td>
                                    <td>+7 (963) 599-44-66</td>
                                    <td>rus269@yandex.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр информационно-технического обеспечения</th>
                                </tr>
                                <tr>
                                    <td>Батукаев Рашид Эдуардович</td>
                                    <td>Главный специалист</td>
                                    <td>+7 (999) 144-07-88</td>
                                    <td>rashid.batukaev@gmail.com <br>webrush@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр по сопровождению ГИА</th>
                                </tr>
                                <tr>
                                    <td>Успаева Галина Вахиевна</td>
                                    <td>старший преподаватель центра</td>
                                    <td>+7 (928) 021-88-13</td>
                                    <td>sara01@yandex.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр инклюзивного образования</th>
                                </tr>
                                <tr>
                                    <td>Теучеж Нуриет Юнусовна</td>
                                    <td>старший преподаватель центра</td>
                                    <td>+7(964) 060-74-13</td>
                                    <td>nuretnuret27@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр сопровождения проектов (программ) в сфере образования</th>
                                </tr>
                                <tr>
                                    <td>Салатаева Разет Салмановна</td>
                                    <td>заведующий</td>
                                    <td>+7(928) 736-47-09</td>
                                    <td>razet1955@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Центр сопровождения проектов (программ) в сфере образования</th>
                                </tr>
                                <tr>
                                    <td>Лабазанов Муса</td>
                                    <td>заведующий</td>
                                    <td>+7(928) 953-89-48</td>
                                    <td>allegro2011@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="structure__th" colspan="4">Отделы</th>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Отдел кадров</th>
                                </tr>
                                <tr>
                                    <td>Сулейманова Малика Юнусовна</td>
                                    <td>Начальник отдела</td>
                                    <td>+7(928) 023-71-00</td>
                                    <td>malika33@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Учебно-методический отдел</th>
                                </tr>
                                <tr>
                                    <td>Мочигова Тумиша Раисовна</td>
                                    <td>Заведующий</td>
                                    <td>+7(928) 738-47-79</td>
                                    <td>mochigova55@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Канцелярия</th>
                                </tr>
                                <tr>
                                    <td>Газиев Эмир Бекханович</td>
                                    <td>Руководитель канцелярии</td>
                                    <td>+7(928) 738-47-79</td>
                                    <td>mochigova55@mail.ru</td>
                                </tr>
                                <tr class="tr--head">
                                    <th class="th--al" colspan="4">Хозяйственно-бытовой отдел</th>
                                </tr>
                                <tr>
                                    <td>Чимаев Саид-Селим Ярагиевич	</td>
                                    <td>Начальник отдела</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>    
                    </div>

                    <div class="info__block">
                        <h2 class="info__heading">Общее собрание работников</h2>
                        <a href="../../../doc/info/Положение об общем собрании работников.pdf">Положение об общем собрании работников</a>
                    </div>
                    <div class="info__block">
                        <h2 class="info__heading">Учёный совет</h2>
                        <a href="../../../doc/info/Положение об общем собрании работников.pdf">Положение об Учёном совете</a>
                    </div>
                    <div class="info__block">
                        <h2 class="info__heading">Устав</h2>
                        <a href="../../../doc/info/Устав 2019.pdf">Устав</a>
                    </div>
                </div>
                <button class="scroll_to_top_button--hidden"><i class="fas fa-chevron-up"></i></button>
            </main>  
        </div>
    </div>
   <footer class="footer">
       <div class="container">
            <div class="row row--footer">
                <div class="footer__block footer__block--contacts">
                    <h3 class="footer__heading">Контакты</h3>
                    <p>ГБУ ДПО "ИРО ЧР"</p>
                    <p>364037, Чеченская Республика</p>
                    <p><i class="fas fa-map-marker-alt"></i>г. Грозный, ул. Х. Кишиевой, 30 </p>
                    <p><i class="fas fa-phone-alt"></i>тел/факс +7 (8712) 21-22-24</p>
                    <p><i class="fas fa-envelope"></i>E-mail: ipkro-chr@mail.ru</p>
                    <p><i class="fas fa-envelope"></i>Техподдержка: support@govzalla.ru</p>
                </div>
                <div class="footer__block footer__block--social"> 
                    <h3 class="footer__heading">Мы в соцсетях</h3>
                    <div class="social">
                        <a href="https://www.youtube.com/channel/UC4JstR8NrXG0WcdtTWjRjrg"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.instagram.com/gangaelmurzaeva/?hl=ru"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.facebook.com/chipkro.official/"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://vk.com/chipkro.official/"><i class="fab fa-vk"></i></a>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1451.1557982884488!2d45.714425555915135!3d43.328668331348894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4051d14388e57381%3A0x44959ec660c956b!2z0YPQuy4g0JbRg9C60L7QstGB0LrQvtCz0L4sIDEw0LIsINCT0YDQvtC30L3Ri9C5LCDQp9C10YfQtdC90YHQutCw0Y8g0KDQtdGB0L8uLCAzNjQwMzE!5e0!3m2!1sru!2sru!4v1598518335565!5m2!1sru!2sru" width="100%" height="auto" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="footer__block footer__block--links">
                    <h3 class="footer__heading">Учредитель</h3>
                    <a href="http://mon95.ru/">Министерство образования и науки Чеченской Республики</a>
                    <a href="../general_information.html">Сведения об образовательной организации</a>
                    <a href="#">Карта сайта</a>
                    <a href="#">Наши партнеры</a>
                </div>    
            </div>
            <div class="institution">
                <div class="footer__logo"><img src="../../../img/logo-mono.png" alt=""></div>
                <div class="copyright">
                    <p>&copy; 2020 ГБУ ДПО Чеченский институт повышения квалификации работников образования.</p>
                    <p>Все права защищены. При использовании материалов сайта активная ссылка на сайт https://www.govzalla.ru обязательна.</p>
                </div>
            </div>
       </div>
   </footer>
   <script type="text/javascript" src="../../../js/scripts.js"></script>
</body>
</html>